<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Shopping Cart Store</title>

  <!-- Custom styles for this template -->
  <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body>

  <div class="navbar">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">

      <a class="navbar-brand" href="/"> <span style="font-size: 20px; color: black">
          <i class="fas fa-shopping-cart"></i>
        </span>
        Shopping_Cart | Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="">Disabled</a>
          </li>

          {{#if login}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User Management
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/user/profile">User Profile</a>
              <a class="dropdown-item" href="/">Account Settings</a>
            </div>
          {{else}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User Management
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/user/signin">User Sign In</a>
              <a class="dropdown-item" href="/user/signup">User Sign Up</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/company/companysignin">Company Sign In</a>
              <a class="dropdown-item" href="/company/companysignup">Compnay Sign Up</a>
            </div>
          </li>
          {{/if}}

          <li class="nav-item">
            <a class="nav-link" href="/cart/shopping-cart">Cart
              <span class="badge badge-dark">{{session.cart.totalQty}}</span>
            </a>
          </li>

        </ul>
        <!-- <form class="form-inline my-2 my-sm-0">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        {{#if login}}
        
        <a class="btn btn-outline-danger my-2 my-sm-0" role="button" href="/user/logout">Sign Out</a>
          {{else}}
        <a href="/user/signin" class="btn btn-outline-success" role="button">Sign In</a>
        <a href="/user/signup" class="btn btn-outline-primary" role="button">Sign Up</a>
        {{/if}}
      </div>
    </nav>
  </div>
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
  </script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
</body>

</html>
